<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="home page" class="" href="{{ site.url }}/">home</a></span>
        <span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/categories/">categories</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/tags/">tags</a></span>
        <span><a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">subscribe</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
  </body>
</html>
